/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --menu-frame: rgb(225, 0, 112, 0.4);
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --link-shadow-color: #ff0070;
  --main-headline: #db00ff;
  --topic-color: #ff0070;
  --background-image: url("../images/cover-image-dark.png");
  --background-reserve: #ffeef6;
}

.theme-dark .header-bg-decor {
  display: flex;
}
